
<div class="well-sm" style="background-color:#ffbe87;">
	<div class="container-fluid">
		<div class="row">
 			 <div class="col-sm-4">
  				<h3 style="font-size:20px; color:#4d8ea8; font-family: Helvetica;">
  					Contact Us
  				</h3>
  				<p style="font-size:15px; color:#4d8ea8; font-family: Helvetica;">
  					FAQ<br>
  					Forums
  				</p> 
  			</div>
  			<div class="col-sm-4">
  				<h3 style="font-size:20px; color:#4d8ea8; font-family: Helvetica;">
  					Learn More
  				</h3>
  				<p style="font-size:15px; color:#4d8ea8; font-family: Helvetica;">
  					Terms of use<br>
  					thoughtBubble Blog<br>
  					thoughtBubble Official Account<br>
  				</p>
  			</div>
  			<div class="col-sm-4">
 				<h3 style="font-size:15px; color:#4d8ea8; font-family: Helvetica;"> 
 	 				© 2017 thoughtBubble.com, SPCS WebTech
 				</h3>
  			</div>
  		</div>
  	</div>
</div>
