<div class="container-fluid" align="center">
	<br><br><br><br><br><br>
	<span style="font-family: Georgia">
	<p><img src="img/swim2.jpg" style="width: auto; height: 200px; border-radius:50%;" alt="subtopicPicture""></p>
	<h3>Subtopic Name</h3>
	<p align=center><a href="/topic">Go Back to Main Topic</a></p>
  	<p>This is a subtopic page. This is supposed to be a description. Yay.</p></span><hr>

<div class="tabs">
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#wall" style="background-color: #d3f0ff; color: black;">Wall</a></li>
  <li><a data-toggle="tab" href="#geninfo" style="background-color: #d3f0ff; color: black;">General Information</a></li>
  <li><a data-toggle="tab" href="#files" style="background-color: #d3f0ff; color: black;">Files</a></li>
  <li><a data-toggle="tab" href="#photos" style="background-color: #d3f0ff; color: black;">Photos</a></li>
</ul>
</div>

<div class="tab-content" align="left">
  	<div id="wall" class="tab-pane fade in active">
    	<h3>News and Stuff</h3>
      	<p>Post stuff here.</p></br>
      	<div contenteditable="true" style="width: 100%; height: 200px; overflow: scroll; padding: 20px; border-radius: 10px; border: 2px solid #4d8ea8; background-color: white;" align="left"></div><br>
      	<p><button type="submit" class="btn btn-primary btn-block" style="background-color: #4d8ea8">Submit</button></p>
	</div>

  	<div id="geninfo" class="tab-pane fade">
    	<h3>Creator</h3> <!--maybe more creators later-->
	<a href="/profile"><img src="img/user.png" style="width: 100px; height: 100px; background: #ccc; border-radius: 50%;" alt="profilePicture""></a>
		<br><br>
    	Date created:<br>
    	Contact Info:<br><br>
  	</div>

  	<div id="files" class="tab-pane fade">
    	<h3>Files</h3>
    		<p>Store files here.</p>
    </div>

  	<div id="photos" class="tab-pane fade">
    	<h3>Photos</h3>
    		<p>Store photos here.</p>
  	</div>

</div>
<br><br><br><br><br>
</div>
